extends layout

block content 
  section.news
    h2 Recent News
      each article in articles
        
            //- h2 #{article.title}
            //- p Author: #{article.author}
            //- p Date Published: #{moment(article.date).format("MM-DD-YYYY h:mm A")}
            h2.title #{article.title}
            p.date #{moment(article.date).format("MM-DD-YYYY")} - Written by #{article.author}
            p.text !{(article.article).replace(/\n/g, '<br/>')}
            //p.author by: #{article.author}
